@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.dm-sans-thin {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.montserrat-thin {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.dm-sans-extra-light {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.montserrat-extra-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.dm-sans-light {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-medium {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dm-sans-semi-bold {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-semi-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.dm-sans-bold {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.dm-sans-extra-bold {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.montserrat-extra-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.dm-sans-black {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.montserrat-black {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.article-card {
  color: black;
  border: 1px solid darkgray;
}
.article-card .cover {
  height: 128px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.article-card .description {
  margin: 12px;
}
.article-card .description h1 {
  margin-bottom: 0.5em;
}
.article-card .description p {
  font-size: 110%;
}
.article-card .date {
  text-align: end;
  color: dimgray;
  margin-bottom: 8px;
}

.home {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 860px 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "aside-left article aside-right";
}

.articles {
  grid-area: "article";
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blog {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 860px 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "aside-left article aside-right";
  margin-top: -1rem;
}

aside.right {
  grid-area: aside-right;
}

aside.left {
  grid-area: aside-left;
}

.navbar {
  width: 100%;
  padding: 16px;
  background-color: whitesmoke;
  display: flex;
  margin-bottom: 1rem;
}

.nav-title {
  min-width: max-content;
}
.nav-title img {
  float: left;
  height: 26px;
  margin-top: -4px;
  margin-bottom: -4px;
  margin-right: 8px;
}
.nav-title a {
  color: black;
}

.nav-links {
  width: 100%;
  display: flex;
  padding-left: 24px;
  gap: 12px;
}

a {
  color: darkblue;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

section.post {
  grid-area: article;
}
section.post header {
  min-height: 256px;
  display: flex;
  justify-content: end;
  align-items: baseline;
  flex-direction: column;
  background-position: center;
  background-size: cover;
}
section.post header h1 {
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
section.post header .subtitle {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  margin-bottom: 0.67em;
  margin-left: auto;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
section.post header .date {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
section.post article p {
  font-size: 120%;
  line-height: 160%;
}
section.post article h2 {
  font-size: 180%;
  margin-top: 1.67em;
}
section.post .navigation {
  width: 100%;
  display: flex;
  padding-top: 16px;
  padding-bottom: 32px;
  gap: 16px;
  justify-content: stretch;
}
section.post .navigation > * {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 4px;
  width: 100%;
  gap: 6px;
}
section.post .navigation > *.no-link {
  border: none;
}
section.post .navigation > * strong {
  color: dimgray;
  font-size: large;
  font-family: Montserrat;
  font-weight: 600;
}
section.post .navigation > * span {
  font-family: Montserrat;
}

/*# sourceMappingURL=index.css.map */
